<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Vueサンプル</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
      .active { color: red; }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="text" :value="text" :disabled="!canEdit">
      <input type="text" v-model="text">
      <p v-if="text.length > maxLength">テキストは{{ maxLength }}文字以下にしてください。</p>      
    </div>
    <script src="main.js"></script>
  </body>
</html>
